<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <!-- Панель навигации -->
            <nav class="navbar bg-dark navbar-expand-md border-bottom border-body" data-bs-theme="dark">
                <!-- меню сайта -->
                <partial name="_MenuPartial"/>
                <!-- меню сайта - конец -->

                <!-- Информация пользователя -->
                <partial name="_UserInfoPartial" />
                <!-- Информация пользователя - конец -->

            </nav> <!-- Панель навигации - конец -->
        </div>
    </header>

    <main class="container mt-4">
       @RenderBody();
    </main>

    <footer>
        <div class="container">
            <div class="navbar bg-dark navbar-expand-md border-bottom border-body"
                 data-bs-theme="dark">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="http://www.facebook.com">
                        <i class="bi bi-facebook" style="font-size: 2rem"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.vk.com">
                        <i class="bi bi-twitter" style="font-size: 2rem"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.twitter.com">
                        <i class="bi-telegram" style="font-size: 2rem"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>